@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .heading{
    @apply text-xl font-medium text-gray-800 font-roboto
  }
}

@font-face {
  font-family: roboto;
  src: url('../../public/fonts/Roboto-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: roboto;
  src: url('../../public/fonts/Roboto-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: roboto;
  src: url('../../public/fonts/Roboto-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: roboto;
  src: url('../../public/fonts/Roboto-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: opensans;
  src: url('../../public/fonts/OpenSans-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: opensans;
  src: url('../../public/fonts/OpenSans-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: opensans;
  src: url('../../public/fonts/OpenSans-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: opensans;
  src: url('../../public/fonts/OpenSans-Regular.ttf');
  font-weight: 300;
}
@font-face {
  font-family: opensans;
  src: url('../../public/fonts/OpenSans-SemiBold.ttf');
  font-weight: 600;
}

/* variables */
:root{
    /* fonts  */
     --opensans: opensans;
     --roboto: roboto;
     --primary: #f14902;
}
body{
  font-family: var(--opensans);
}

.content p{
  font-family: roboto;
  font-weight: 400;
  font-size: 19px;
  color: #7c7c7c;
  margin-top: .8rem;
}
.content a{
  text-decoration: underline;
}
.content ol{
  list-style-type: decimal;
  font-family: roboto;
  font-weight: 400;
  font-size: 19px;
  color: #7c7c7c;
  margin-top: .8rem;
  padding-left: 1.2rem;
}
.content ul{
  font-family: roboto;
  font-weight: 400;
  font-size: 19px;
  color: #7c7c7c;
  margin-top: .8rem;
  padding-left: 1.2rem;
  list-style-type: circle;
}
.content ol li, .content ul li{
  margin-top: .6rem;
}
.content h2, .content h3, .content h4{
  font-family: var(--roboto);
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(31 41 55 / var(--tw-text-opacity));
    margin-top: .8rem;
}
.content img{
  margin: 1.5rem 0;
}

blockquote{
  font-size: 1.4em;
  margin:50px auto;
  font-family:Open Sans;
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 75px;
  border-left:4px solid var(--primary) ;
  line-height:1.6;
  position: relative;
}

blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:var(--primary) ;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote::after{
  content: '';
}