@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .heading{
    @apply text-xl font-medium text-gray-800 font-roboto
  }
}

@font-face {
  font-family: roboto;
  src: url('../../public/fonts/Roboto-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: roboto;
  src: url('../../public/fonts/Roboto-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: roboto;
  src: url('../../public/fonts/Roboto-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: roboto;
  src: url('../../public/fonts/Roboto-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: opensans;
  src: url('../../public/fonts/OpenSans-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: opensans;
  src: url('../../public/fonts/OpenSans-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: opensans;
  src: url('../../public/fonts/OpenSans-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: opensans;
  src: url('../../public/fonts/OpenSans-Regular.ttf');
  font-weight: 300;
}
@font-face {
  font-family: opensans;
  src: url('../../public/fonts/OpenSans-SemiBold.ttf');
  font-weight: 600;
}

/* variables */
:root{
    /* fonts  */
     --opensans: opensans;
     --roboto: roboto;
     --primary: #f14902;
}
body{
  font-family: var(--opensans);
}